.searching input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    text-align: center;
    width: 80%;
    background: #f1f1f1;
  }
  
  .searching button {
    text-align: center;
    width: 20%;
    padding: 10px;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    cursor: pointer;
  }
  .buttons{text-align: center;
  color: blueviolet;}